/* Selector {
  property: value;
} */

body {
    color: white;
    background-image: url(bg.jpg);
    background-size: cover;
}

li {
    background-color: white;
    color: grey;
    font-size: 150%;
    list-style: none;
    display: inline-block;
}

.button:hover {
    background-color: #321C75;
}

h2,
p {
    color: black;
    background-color: rgba(0, 255, 0, 0.2);
    border: 5px dashed #321C75;
    text-align: center;
    cursor: wait;
    line-height: 95px;
    font-size: 150%;
    font-family: 'Alfa Slab One', cursive;
}

p {
    color: white;
    background-color: rgb(0, 0, 255, 0.2);
    font-family: 'Gloria Hallelujah', cursive;
}

.webtext {
    border: 10px double purple;
}

.active {
    color: orange;
}

section {
    text-align: right
}

img {
    float: left;
}